body {
    overflow-x: hidden;
}

.diag {
    height: 1000px;
}

.content {
	max-width: 1170px;
    margin: 0 auto;
    padding: 40px 0;
}

.content--map {
    margin: 0 auto;
    padding: 40px 0;
}

@media only screen and (max-width: 1400px) {
    .content {
        padding: 40px 30px;
    }
}

h1 {
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 70px;
    line-height: 60px;
}

a {
    text-decoration: none;
    color: #0090ff;
}

a:hover {
    text-decoration: underline;
    color: #0090ff;
}

h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
    text-align: center;
}

h3 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 30px;
}

h4 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

h5 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
}

h6 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

ul {
    padding: 0 0 0 20px;
}

ul li {
    list-style: none;
    position: relative;
    padding: 0 0 10px 0;
    display: block;
}

ul li:after {
    content: "";
    width: 6px;
    height: 6px;
    background: #0090ff;
    border-radius: 3px;
    position: absolute;
    top: 8px;
    left: -15px;
}

.breadcrumbs {
	padding: 0 0 80px;
    display: flex;
    justify-content: center;
}

.breadcrumbs a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    display: block;
    margin-right: 15px;
}

.breadcrumbs div {
    font-weight: normal;
    color: #444444;
    margin-right: 15px;
}

.breadcrumbs div:last-child {
    margin-right: 0;
}

.breadcrumbs span {
    width: 5px;
    display: block;
    margin-right: 15px;
    position: relative;
}

.breadcrumbs span:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-top: 1px solid #444444;
    border-right: 1px solid #444444;
    transform: rotate(45deg);
    top: 9px;
    left: 0;
}

.content-title {
	text-align: center;
}

.content-subtitle {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 60px;
    margin-top: -40px;
}

.solutions {
	display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: space-between;
}

.solution {
	width: calc(33% - 15px);
    padding: 0 15px 50px;
    text-decoration: none;
    color: #000;
}

.solution-img {
	margin-bottom: 30px;
    
}

.solution-title {
	text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.solutions-list {
	display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: space-between;
}

.solution-list-one {
	width: calc(25% - 15px);
    padding: 0 15px 50px;
    text-decoration: none;
    color: #000;
}

.solution-one-img {
	margin-bottom: 20px;
    height: 200px;
}

.solution-one-title {
	text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.solution-top {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.solution-descr {
	display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.solution-descr__icon {
	width: 340px;
}

.solution-descr__list {
	width: calc(100% - 340px);
}

.solution-descr__list ul {
    list-style: none;
    padding-right: 25px;
}

.solution-descr__list ul li:after {
    display: none;        
}

.solution-descr__list ul li:before {
    content: "";
    display: block;
    width: 5px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: -20px;
    border-bottom: 1px solid #0090ff;
    border-right: 1px solid #0090ff;
    transform: rotate(45deg);
}

.solution-functions {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin: 0 -15px;
}

.solution-function {
	width: calc(33.333% - 30px);
    margin: 0 15px 90px;
    padding: 0 15px 50px;
    padding: 30px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0 11px 43px #d0d0d0;
}

.solution-function--2 .solution-function {
    width: calc(50% - 30px);
}

.solution-function__icon {
	width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #2169ec;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.solution-function__icon img {
    display: block;
    width: 60px;
}

.solution-function__title {
	font-size: 20px;
    font-weight: 600;
}

.solution-function__descr {
	
}

.excellence {
	
}

.excellence-one {
	display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.excellence-one__icon {
	width: 70px;
    margin-right: 30px;
}

.excellence-one-rigth {
	width: calc(100% - 100px);
}

.excellence-one__title {
	font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

.excellence-one__descr {
	font-size: 16px;
    line-height: 24px;
}

.content-slider {
	
}

.project-button {
	display: block;
    text-decoration: none;
    color: #000;
    font-size: 19px;
    font-weight: 600;
    padding: 26px 50px;
    border-radius: 40px;
    margin-bottom: 20px;
    box-shadow: 0 5px 29px rgba(189, 157, 99, 0.8);
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    width: 490px;
    margin: 0 auto 70px;
    background: #ff8900;
    color: #fff;
}

.project-button:hover {
    text-decoration: none;
    color: #fff;
}

.project-button:after {
    content: "";
    background: url('./..../img/right.png');
    width: 22px;
    height: 15px;
    position: absolute;
    top: 33px;
    right: 25px;
}

.content-slider {
	position: relative;
    padding: 20px 70px;
    overflow: hidden;
}

.content-slider-wrap {
    padding-bottom: 60px;
}

.content-slider-item {
	padding: 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 11px 30px rgb(208 208 208 / 50%);
    margin-bottom: 90px;
    opacity: 1;
    transition: all 0.2s;
}

.swiper-slide-prev,
.swiper-slide-active + .content-slider-item  + .content-slider-item + .content-slider-item {
    opacity: 0;
}

.swiper-slide-active + .content-slider-item  {
    transform: scale(1.1);
}

.content-slider-item img {
    width: 100%;
    margin-bottom: 20px;
}

.content-slider-item__title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.content-slider-button-prev {
	width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #cdd1df;
    z-index: 10;
    position: absolute;
    bottom: 30px;
    margin-bottom: -27.5px;
    left: calc(50% - 50px);
    outline: none;
    cursor: pointer;
}

.content-slider-button-prev:before {
    content: "";
    width: 7px;
    height: 11px;
    background: url(../img/right-arrow.png);
    position: absolute;
    top: 16px;
    left: 17px;
}

.content-slider-button-next {
	width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #cdd1df;
    z-index: 10;
    position: absolute;
    bottom: 30px;
    margin-bottom: -27.5px;
    right: calc(50% - 50px);
    outline: none;
    cursor: pointer;
}

.content-slider-button-next:before {
    content: "";
    width: 7px;
    height: 11px;
    background: url(../img/right-arrow.png);
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    top: 16px;
    left: 20px;
}

.content-video {
	text-align: center;
    text-decoration: none;
    display: block;
    margin-bottom: 70px;
}

.content-video img {
    display: block;
    margin: 0 auto 20px;
}

.content-video__title {
	font-size: 24px;
    color: #000;
    font-weight: 700;
    text-align: center;
}

.partner-list {
	display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.partner-one {
	width: calc(20% - 30px);
    margin: 0 15px 30px;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 11px 43px #d0d0d0;
}

.partner-one__img {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.partner-one__img img {
    display: block;
    width: 100%;
    filter: saturate(0%);
    transition: filter 0.3s;
}

.partner-one:hover img {
    filter: saturate(100%);
}

.partner-one__link:before {
	content: "";
    background: url('../img/right-blue.png');
    width: 22px;
    height: 15px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    top: 3px;
}

.projects {
	
}

.projects-filters {
	display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.projects-filter {
	position: relative;
    width: calc(50% - 15px);
}



.select-field {
	background: #fff;
    border-radius: 10px;
    height: 50px;
    font-size: 14px;
    color: #000000;
    padding: 15px;
    position: relative;
    cursor: pointer;
}

.select-field:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-top: 1px solid #9c9c9c;
    border-right: 1px solid #9c9c9c;
    transform: rotate(135deg);
    top: 20px;
    right: 20px;
}

.select-list {
	position: absolute;
    top: 52px;
    width: 100%;
    background: #fff;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgb(208 208 208 / 50%);
    overflow: hidden;
    display: none;
}

.select-one {
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
}

.select-one:hover {
    background: #fff9ed;
}



.projects-list {
	
}

.projects-one {
	margin: 0 0 10px;
    padding: 20px 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 11px 43px #d0d0d0;
    display: flex;
    align-items: center;
}

.projects-one:hover {
    text-decoration: none;
}

.projects-one__img {
	width: 100px;
    margin-right: 40px;
}

.projects-one__title {
    width: calc(100% -  140px);
	text-decoration: none;
    color: #000;
}

.project-about {
	max-width: 960px;
    margin: 0 auto 60px;
}

.project-about-line {
	display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.project-about-line__icon {
	width: 50px;
    margin-right: 20px;
}

.project-about-line__icon img {
    width: 30px;
    display: block;
    margin: auto;
}

.project-about-line__title {
	margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    width: 90px;
}

.project-about-line__text {
	font-size: 16px;
    width: calc(100% - 210px);
}

.requests {
	margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.request-one {
    width: calc(25% - 30px);
	margin: 0 15px 60px;
}

.requests--3 .request-one {
    width: calc(33.33% - 30px);
}

.request-one__icon {
	width: 70px;
    margin: 0 auto 30px;
    display: flex;
    align-items: center;
}

.request-one__icon img {
    width: 70px;
}

.request-one__text {
	font-weight: 500;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.request-one__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.bottom-line--text {
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

.bottom-line--text a {
    color: #fff;
    text-decoration: underline;
}

.bottom-form-alt {
    width: 770px;
    margin: 0 auto 30px;
}

#bottom-form-alt {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#bottom-form-alt .modal-line {
    width: calc(50% - 15px);
    margin-bottom: 20px;
}

#bottom-form-alt .modal-line-100 {
    margin-bottom: 10px;
    width: 100%;
    position: relative;
}

#bottom-form-alt button {
	display: block;
	margin: 20px auto 0;
	width: 270px;
    height: 60px;
    border-radius: 35px;
    background: #ff8500;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}

.doc {
    font-size: 16px;
    display: block;
    font-weight: 500;
    position: relative;
    padding: 15px 0 15px 70px;
}

.doc span {
    font-size: 14px;
    font-weight: 400;
    color: #444444;
}

.doc:hover {
    text-decoration: none;
}

.doc--doc::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../img/docs/doc.svg);
    background-size: 40px;
}

.doc--jpg::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../img/docs/jpg.svg);
    background-size: 40px;
}

.doc--pdf::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../img/docs/pdf.svg);
    background-size: 40px;
}

.doc--ppt::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../img/docs/ppt.svg);
    background-size: 40px;
}

.doc--txt::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../img/docs/txt.svg);
    background-size: 40px;
}

.doc--xls::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../img/docs/xls.svg);
    background-size: 40px;
}

.doc--png::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../img/docs/png.svg);
    background-size: 40px;
}

.history-list-wrap {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 90px;
    position: relative;
}

.history-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
}

.history-line {
    width: 1280px;
    position: absolute;
    top: 35px;
    left: -110px;
    z-index: 0;
}

.history-one {
    width: 300px;
    padding: 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 11px 43px #d0d0d0;
    margin-bottom: 120px;
}

.history-one-year {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.history-one-text {
    font-size: 16px;
    line-height: 24px;
}