body {
    overflow-x: hidden;
}

.diag {
    height: 1000px;
}

.content {
	max-width: 1170px;
    margin: 0 auto;
    padding: 40px 0;
}

.content--map {
    margin: 0 auto;
    padding: 40px 0;
}

.content a {
    text-decoration: none;
    color: #0090ff;
}

.content a:hover {
    text-decoration: underline;
}

a:hover * {
    text-decoration: none;
}

@media only screen and (max-width: 1400px) {
    .content {
        padding: 40px 30px;
    }
}

h1 {
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 70px;
    line-height: 60px;
}

h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
    text-align: center;
}

h3 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 30px;
}

h4 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

h5 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
}

h6 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

ul {
    padding: 0 0 0 20px;
}

ul li {
    list-style: none;
    position: relative;
    padding: 0 0 10px 0;
    display: block;
}

ul li:after {
    content: "";
    width: 6px;
    height: 6px;
    background: #0090ff;
    border-radius: 3px;
    position: absolute;
    top: 8px;
    left: -15px;
}

.breadcrumbs {
	padding: 0 0 70px;
    display: flex;
    justify-content: center;
}

.breadcrumbs a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    display: block;
    margin-right: 15px;
    transition: color 0.3s;
}

.breadcrumbs a:hover {
    color: #ff8500;
    text-decoration: none;
}

.breadcrumbs div {
    font-weight: normal;
    color: #444444;
    margin-right: 15px;
}

.breadcrumbs div:last-child {
    margin-right: 0;
}

.breadcrumbs span {
    width: 5px;
    display: block;
    margin-right: 15px;
    position: relative;
}

.breadcrumbs span:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-top: 1px solid #444444;
    border-right: 1px solid #444444;
    transform: rotate(45deg);
    top: 9px;
    left: 0;
}

.content-title {
	text-align: center;
}

.content-subtitle {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 60px;
    margin-top: -40px;
}

.solutions {
	display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 55px;
    justify-content: space-between;
    margin-top: -35px;
}

.solution {
	width: calc(33%);
    padding: 0 23px 50px;
    text-decoration: none;
    color: #000;
}

.solution-img {
	margin-bottom: 23px;
    
}

.solution-title {
	text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #000;
    transition: color 0.3s;
    
}

.solution:hover {
    text-decoration: none !important;
}

.solution:hover .solution-title {
    color: #ff8500;
}

.solutions-list {
	display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: space-between;
}

.solution-list-one {
	width: calc(25% - 15px);
    padding: 0 15px 50px;
    text-decoration: none !important;
    color: #000;
}

.solution-list-one:hover .solution-one-title {
    color: #ff8500;
}

.solution-one-img {
	margin-bottom: 20px;
}

.solution-one-img img {
    margin: 0 0 0 auto;
}

.solution-one-title {
	text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none !important;
    transition: color 0.3s;
}

.solution-top {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 40px;
}

.solution-descr {
	display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.solution-descr__icon {
	width: 340px;
}

.solution-descr__list {
	width: calc(100% - 340px);
}

.solution-descr__list ul, .steps-icon__descr ul {
    list-style: none;
    padding-left: 25px;
}

.steps-icon__descr li {
    font-size: 16px;
}

.solution-descr__list ul li:after,
.steps-icon__descr ul li:after {
    display: none;        
}

.solution-descr__list ul li:before,
.steps-icon__descr ul li:before {
    content: "";
    display: block;
    width: 5px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: -20px;
    border-bottom: 1px solid #0090ff;
    border-right: 1px solid #0090ff;
    transform: rotate(45deg);
}

ul.mark-list li:after {
    display: none;     
}

ul.mark-list li:before {
    content: "";
    display: block;
    width: 5px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: -20px;
    border-bottom: 1px solid #0090ff;
    border-right: 1px solid #0090ff;
    transform: rotate(45deg);
}

.solution-functions {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin: 0 -15px;
}

.solution-function {
	width: calc(33.333% - 30px);
    margin: 0 15px 90px;
    padding: 0 15px 50px;
    padding: 30px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0 11px 43px #d0d0d0;
}

.solution-function--2 .solution-function {
    width: calc(50% - 30px);
}

.solution-function__icon {
	width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #2169ec;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.solution-function__icon img {
    display: block;
    width: 60px;
}

.solution-function__title {
	font-size: 20px;
    font-weight: 600;
}

.solution-function__descr {
	
}

.excellence {
	
}

.excellence-one {
	display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.excellence-one__icon {
	width: 70px;
    margin-right: 30px;
}

.excellence-one-rigth {
	width: calc(100% - 100px);
}

.excellence-one__title {
	font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

.excellence-one__descr {
	font-size: 16px;
    line-height: 24px;
}

.content-slider {
	
}

a.project-button {
	display: block;
    text-decoration: none;
    color: #000;
    font-size: 19px;
    font-weight: 600;
    padding: 26px 50px;
    border-radius: 40px;
    margin-bottom: 20px;
    box-shadow: 0 5px 29px rgba(189, 157, 99, 0.8);
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    width: 380px;
    margin: 0 auto 70px;
    background: #ff8900;
    color: #fff;
}

a.project-button.project-button--getmap {
    width: 420px;
}

.project-button:before {
    content: "";
    background: url(../img/icons/right.svg);
    width: 25px;
    background-size: 25px;
    height: 25px;
    position: absolute;
    top: 28px;
    right: 25px;
}

a.project-button:hover {
    background: #ff9c00;
    text-decoration: none;
}

.project-button:hover {
    text-decoration: none;
    color: #fff;
}

.content-slider {
	position: relative;
    padding: 20px 70px;
    overflow: hidden;
}

.content-slider-wrap {
    padding-bottom: 60px;
}

.content-slider-item {
	padding: 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 11px 30px rgb(208 208 208 / 50%);
    margin-bottom: 90px;
    opacity: 1;
    transition: all 0.2s;
}

.swiper-slide-prev,
.swiper-slide-active + .content-slider-item  + .content-slider-item + .content-slider-item {
    opacity: 0;
}

.swiper-slide-active + .content-slider-item  {
    transform: scale(1.1);
}

.content-slider-item img {
    width: 100%;
    margin-bottom: 20px;
}

.content-slider-item__title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.content-slider-button-prev {
	width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #cdd1df;
    z-index: 10;
    position: absolute;
    bottom: 30px;
    margin-bottom: -27.5px;
    left: calc(50% - 50px);
    outline: none;
    cursor: pointer;
}

.content-slider-button-prev:before {
    content: "";
    width: 7px;
    height: 11px;
    background: url(../img/right-arrow.png);
    position: absolute;
    top: 16px;
    left: 17px;
}

.content-slider-button-next {
	width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #cdd1df;
    z-index: 10;
    position: absolute;
    bottom: 30px;
    margin-bottom: -27.5px;
    right: calc(50% - 50px);
    outline: none;
    cursor: pointer;
}

.content-slider-button-next:before {
    content: "";
    width: 7px;
    height: 11px;
    background: url(../img/right-arrow.png);
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    top: 16px;
    left: 20px;
}

a.content-video {
	text-align: center;
    display: block;
    margin-bottom: 70px;
}

a.content-video:hover {
    text-decoration: none;
}

a.content-video:hover .content-video__title {
    /*color: #ff8500;*/
}

.content-video img {
    display: block;
    margin: 0 auto 20px;
}

.content-video__title {
	font-size: 24px;
    color: #000;
    font-weight: 700;
    text-align: center;
    transition: color 0.3s;
}

.partner-list {
	display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-between;
}

.partner-one {
	width: calc(20% - 25px);
    margin: 0 0 30px;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 11px 43px #d0d0d0;
}

.partner-one__img {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.partner-one__img img {
    display: block;
    width: 100%;
}

.partner-one:hover img {
}

.partner-one__link {
    font-size: 14px;
}

.partner-one__link:before {
	content: "";
    background: url('../img/right-blue.png');
    width: 22px;
    height: 15px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    top: 3px;
}

.projects {
	
}

.projects-filters {
	display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.projects-filter {
	position: relative;
    width: calc(50% - 15px);
}



.select-field {
	background: #fff;
    border-radius: 10px;
    height: 50px;
    font-size: 14px;
    color: #000000;
    padding: 15px;
    position: relative;
    cursor: pointer;
}

.select-field:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-top: 1px solid #9c9c9c;
    border-right: 1px solid #9c9c9c;
    transform: rotate(135deg);
    top: 20px;
    right: 20px;
}

.select-list {
	position: absolute;
    top: 52px;
    width: 100%;
    background: #fff;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgb(208 208 208 / 50%);
    overflow: hidden;
    display: none;
}

.select-one {
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
}

.select-one:hover {
    background: #fff9ed;
}



.projects-list {
	margin-bottom: 60px;
}

.projects-one {
	margin: 0 0 10px;
    padding: 20px 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 11px 43px #d0d0d0;
    display: flex;
    align-items: center;
}

.projects-one:hover {
    text-decoration: none;
}

.projects-one__img {
	width: 100px;
    margin-right: 40px;
}

.projects-one__title {
    width: calc(100% -  140px);
	text-decoration: none;
    color: #000;
}

.project-about {
	max-width: 960px;
    margin: 0 auto 60px;
}

.project-about-line {
	display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.project-about-line__icon {
	width: 50px;
    margin-right: 20px;
}

.project-about-line__icon img {
    width: 30px;
    display: block;
    margin: auto;
}

.project-about-line__title {
	margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    width: 90px;
}

.project-about-line__text {
	font-size: 16px;
    width: calc(100% - 210px);
}

.requests {
	margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.request-one {
    width: calc(25% - 30px);
	margin: 0 15px 60px;
}

.requests--3 .request-one {
    width: calc(33.33% - 30px);
}

.request-one__icon {
	width: 70px;
    margin: 0 auto 30px;
    display: flex;
    align-items: center;
}

.request-one__icon img {
    width: 70px;
}

.request-one__text {
	font-weight: 500;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.request-one__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.bottom-line--text {
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

.bottom-line--text a {
    color: #fff;
    text-decoration: underline;
}

.bottom-form-alt {
    width: 770px;
    margin: 0 auto 30px;
}

#bottom-form-alt {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#bottom-form-alt .modal-line {
    width: calc(50% - 15px);
    margin-bottom: 20px;
}

#bottom-form-alt .modal-line-100 {
    margin-bottom: 10px;
    width: 100%;
    position: relative;
}

#bottom-form-alt button {
	display: block;
	margin: 20px auto 0;
	width: 270px;
    height: 60px;
    border-radius: 35px;
    background: #ff8500;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}

.bottom-button {
    display: block;
    width: 265px;
    height: 60px;
    border-radius: 30px;
    background: #ff8500;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    margin: 20px auto 0;
    transition: background 0.3s;
}

.bottom-button:hover {
    background: #ff9c00;
}

.doc {
    font-size: 16px;
    display: block;
    font-weight: 500;
    position: relative;
    padding: 15px 0 15px 70px;
}

.doc span {
    font-size: 14px;
    font-weight: 400;
    color: #444444;
}

.doc:hover {
    text-decoration: none;
}

.doc--doc::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../img/docs/doc.svg);
    background-size: 40px;
}

.doc--jpg::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../img/docs/jpg.svg);
    background-size: 40px;
}

.doc--pdf::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../img/docs/pdf.svg);
    background-size: 40px;
}

.doc--ppt::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../img/docs/ppt.svg);
    background-size: 40px;
}

.doc--txt::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../img/docs/txt.svg);
    background-size: 40px;
}

.doc--xls::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../img/docs/xls.svg);
    background-size: 40px;
}

.doc--png::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../img/docs/png.svg);
    background-size: 40px;
}

.history-list-wrap {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 90px;
    position: relative;
}

.history-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
}

.history-line {
    width: 1280px;
    position: absolute;
    top: 35px;
    left: -110px;
    z-index: 0;
}

.history-one {
    width: 300px;
    padding: 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 11px 43px #d0d0d0;
    margin-bottom: 120px;
}

.history-one-year {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.history-one-text {
    font-size: 16px;
    line-height: 24px;
}

.history-path {
    stroke-dasharray: 3360;
    stroke-dashoffset: 3360;
    animation: dash 3s linear forwards;
}

.history-path-2 {
    stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
    animation: dash 3s linear forwards;
}

.history-path-3 {
    stroke-dasharray: 2600;
    stroke-dashoffset: 2600;
    animation: dash 3s linear forwards;
}

.history-path-4 {
    stroke-dasharray: 3080;
    stroke-dashoffset: 3080;
    animation: dash 3s linear forwards;
}

.get-partner-path {
    stroke-dasharray: 3150;
    stroke-dashoffset: 3150;
    animation: dash 3s linear forwards;
}

.contacts {
	max-width: 1170px;
    margin: 0 auto 80px;
    background: #fff;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 11px 43px #d0d0d0;
}

.contacts-top {
	display: flex;
    justify-content: space-between;
    padding: 35px 70px;
}

.contacts-one {
	width: 25%;
}

.contacts-one__icon {
	width: 35px;
    margin-bottom: 30px;
}

.contacts-one__title {
	font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 24px;
}

.contacts-one__text {
	font-size: 16px;
}

.contacts-map {
	width: 100%;
    height: 490px;
    border: 8px solid #f3f3f3;

}

.ymaps-2-1-78-ground-pane,
.ymaps-2-1-78-ground-pane,
.ymaps-2-1-79-ground-pane,
.ymaps-2-1-80-ground-pane,
.ymaps-2-1-81-ground-pane {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.get-partner-reasons {
	display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.get-partner-reason {
	width: calc(33.33% - 15px);
}

.get-partner-reason__icon {
	width: 90px;
    margin: 0 auto 30px;
}

.get-partner-reason__title {
	font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.get-partner-how {
    padding-top: 50px;
}

.get-partner-steps {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    align-items:flex-start;
    align-content:flex-start;
}

.get-partner-svg {
    position: absolute;
    z-index: 0;
    transform: translate(-90px, -50px);
}

.partner-steps-icon {
    width: calc(25% - 25px);
    padding: 30px 15px 30px 25px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0 11px 43px #d0d0d0;
    margin-bottom: 90px;
}

.steps-icon__img img {
    max-width: 66px;
    max-height: 66px;
}

.partner-steps-icon__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 24px;
}

.get-partner-button {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 19px;
    font-weight: 600;
    padding: 26px 50px;
    border-radius: 40px;
    margin-bottom: 20px;
    box-shadow: 0 5px 29px rgb(189 157 99 / 80%);
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    width: 300px;
    margin: 50px auto 90px;
    background: #ff8900;
    color: #fff;
    cursor: pointer;
}

.get-partner-button:before {
    content: "";
    background: url(../img/icons/right.svg);
    width: 25px;
    background-size: 25px;
    height: 25px;
    position: absolute;
    top: 28px;
    right: 25px;
}

.get-partner-button:hover {
    color: #fff;
    text-decoration: none;
}

.swiper-button-disabled {
    opacity: 0.7;
}

.about-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.about-menu a {
    display: block;
    font-size: 22px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 600;
    margin: 0 90px;
}

.error-page {
	width: 672px;
    height: 565px;
    background: url('../img/404.png');
    background-size: cover;
    margin: -75px auto -75px;
    padding-top: 35px;
}

.error-page-title {
	text-align: center;
    font-size: 120px;
    font-weight: 800;
    line-height: 120px;
    margin-bottom: -5px;
}

.error-page-subtitle {
	text-align: center;
    font-size: 18px;
    font-weight: 500;
}

@media only screen and (max-width: 1400px) {
    .about-menu a {
        margin: 0 30px;
    }
}

.about-menu a:hover {
    text-decoration: none;
    color: #ff8500;
}

@media only screen and (max-width: 1024px) {
    .about-menu a {
        font-size: 18px;
        margin: 0 30px;
    }

    .content {
        padding: 60px 25px;
    }

    .breadcrumbs {
        font-size: 14px;
        padding-bottom: 50px;
    }

    .content-subtitle {
        margin-top: -20px;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 50px;
    }

    h1 {
        font-size: 36px;
        margin-bottom: 40px;
        line-height: 40px;
    }
    
    h2 {
        font-size: 30px;
        margin-bottom: 30px;
        text-align: center;
    }
    
    h3 {
        font-size: 28px;
        margin-bottom: 20px;
        line-height: 30px;
    }
    
    h4 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    h5 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    h6 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .solution-top {
        font-size: 16px;
        line-height: 24px;
    }

    .solution-descr__list {
        width: calc(100% - 110px);
    }

    .solution-descr__list ul li {
        font-size: 13px;
    }

    .solution-function__title {
        font-size: 14px;
        line-height: 20px;
    }

    .solution-function__descr {
        font-size: 12px;
        line-height: 18px;
    }

    .excellence-one__title {
        font-size: 18px;
    }

    .excellence-one__descr {
        font-size: 14px;
        line-height: 18px;
    }

    a.project-button {
        font-size: 16px;
        padding: 21px 50px;
    }

    a.project-button.project-button--getmap {
        width: 380px;
    }

    a.project-button:before {
        top: 21px;
    }

    .content-slider-wrap {
        margin: 0 -25px;
        padding-bottom: 50px;
    }

    .content-slider-item {
        width: 220px;
    }

    .content-slider {
        padding: 0 30px 20px;
    }
    
    .content-video {
        margin-bottom: 20px;
    }

    .solution-list-one {
        padding: 0 15px 20px;
    }

    .solution-one-img {
        height: 120px;
    }

    .solution-one-title {
        font-size: 14px;
    }

    .solution-title {
        font-size: 16px;
    }

    .history-line {
        display: none;
    }

    .history-list-wrap {
        padding-top: 0;
    }

    .history-list {

    }

    .history-one {
        padding: 30px 20px;
        width: calc(33.33% - 20px);
        margin-bottom: 60px;
    }

    .history-one-year {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;
    }

    .history-one-text {
        font-size: 14px;
        line-height: 20px;
    }

    .bottom-form-alt {
        width: 100%;
    }

    .contacts {
        margin-bottom: 20px;
    }

    .contacts-top {
        padding: 30px 40px;
    }

    .contacts-one__icon {
        width: 25px;
        margin-bottom: 20px;
    }

    .contacts-one__title {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .contacts-one__text {
        font-size: 12px;
        line-height: 18px;
    }

    .partner-list {
        margin-bottom: 0;
    }

    .partner-one {
        padding: 20px 10px;
        width: calc(20% - 20px);
    }

    .partner-one__link {
        font-size: 10px;
    }

    .partner-one__link:before {
        background-size: contain;
        width: 15px;
        height: 10px;
    }

    .partner-one__img {
        height: 50px;
    }

    .projects-filters {
        margin-bottom: 30px;
    }

    .select-field {
        border: 1px solid #e8e8e8;
    }

    .projects-one {
        padding: 10px 30px;
    }

    .projects-one__img {
        width: 65px;
        margin-right: 30px;
    }

    .projects-one__title {
        font-size: 14px;
        line-height: 18px;
        width: calc(100% - 95px);
    }

    .get-partner-svg {
        display: none;
    }

    .get-partner-button {
        width: 260px;
        font-size: 16px;
        padding: 23px 50px;
        margin: 50px auto 70px;
    }

    .get-partner-button:before {
        top: 22px;
        right: 25px;
    }

    .get-partner-reasons {
        margin-bottom: 110px;
    }

    .get-partner-reason__title {
        font-size: 14px;
        line-height: 24px;
    }

    .get-partner-how {
        padding: 0 60px;
    }

    .get-partner-steps {
        flex-wrap: wrap;
    }

    .partner-steps-icon {
        width: calc(50% - 15px);
        margin-bottom: 30px;
    }

    .partner-steps-icon:nth-child(3){
        order: 2;
    }

    .partner-steps-icon:last-child {
        order: 1;
    }

    .partner-steps-icon__title {
        font-size: 16px;
        line-height: 24px;
    }

    .about-menu a {
        margin: 0 20px;
    }
}

@media only screen and (max-width: 765px) {
    .about-menu {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .about-menu a {
        font-size: 16px;
        margin: 0px 0 20px;
        width: 100%;
        text-align: center;
    }

    h1.content-title {
        font-size: 25px;
        margin-bottom: 40px;
        line-height: 30px;
        text-align: left;
    }

    .content-subtitle {
        text-align: left;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    
    h2 {
        font-size: 24px;
        margin-bottom: 30px;
        text-align: left;
        line-height: 30px;
    }
    
    h3 {
        font-size: 22px;
        margin-bottom: 20px;
        line-height: 30px;
    }
    
    h4 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    h5 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    h6 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .doc {
        font-size: 14px;
        line-height: 18px;
        padding: 10px 0 10px 40px;
    }

    .doc:before {
        width: 28px;
        height: 28px;
        background-size: 28px;
        top: 15px;
    }

    .doc span {
        font-size: 12px;
    }

    .content {
        padding: 50px 30px;
    }

    .breadcrumbs {
        justify-content: flex-start;
        font-size: 12px;
        flex-wrap: wrap;
    }

    .breadcrumbs a {
        margin-right: 10px;
    }

    .breadcrumbs span {
        margin-right: 10px;
        top: -3px;
    }

    .solution {
        width: 100%;
        padding-bottom: 30px;
    }

    .solution-img {
        width: 215px;
        margin: 0 auto 15px;
    }

    .solutions-list {
        margin: 0 -7.5px;
    }

    .solution-list-one {
        padding: 0 7.5px 20px;
        width: calc(50% - 7.5px);
    }

    .solution-one-title {
        font-size: 12px;
    }

    .solution-top {
        text-align: left;
        font-size: 14px;
        margin-bottom: 25px;
    }

    .solution-descr__icon {
        display: none;
    }

    .solution-descr__list {
        width: 100%;
    }

    .solution-descr__list ul {
        font-size: 13px;
    }

    .solution-functions {
        margin: 0 0 50px;
    }
    
    .solution-function {
        width: 100%;
        margin: 0 0px 15px;
        padding: 25px 15px;
    }

    .solution-function__icon {
        width: 100px;
        height: 100px;
    }

    .solution-function__icon img {
        width: 40px;
    }

    .excellence-one {
        margin-bottom: 50px;
        flex-wrap: wrap;
    }
    
    .excellence-one__icon {
        width: 50px;
        margin-bottom: 15px;
    }
    
    .excellence-one-rigth {
        width: 100%;
    }
    
    .excellence-one__title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    
    .excellence-one__descr {
        font-size: 14px;
        line-height: 24px;
    }

    a.project-button {
        width: 100%;
        font-size: 14px;
        padding: 24px 25px;
        border-radius: 45px;
        margin-bottom: 75px;
    }

    a.project-button:after {
        margin-left: 10px;
        position: relative;
        top: 8px;
        left: 0;
        display: inline-block;
        margin-top: -10px;
    }

    .content-slider-wrap {
        margin: 0 -30px;
    }

    .swiper-slide-active + .content-slider-item {
        transform: scale(1);
    }

    a.content-video {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .content-video img {
        margin: 0 15px 0 0;
        width: 87px;
        height: 87px;
    }

    .content-video__title {
        width: calc(100% - 105px);
        font-size: 12px;
        line-height: 18px;
        text-align: left;
    }

    .partner-one {
        width: calc(50% - 7.5px);
        margin-bottom: 20px;
        text-align: center;

    }

    .partner-one__link {
        text-align: center;
    }

    .partner-one__link:before {
        display: none;
    }

    .contacts-top {
        padding: 30px;
        flex-wrap: wrap;
    }

    .contacts-one {
        width: 100%;
        margin-bottom: 20px;
    }

    .map {
        overflow-y: auto;
        margin: 0 -30px;
    }

    .map svg {
        height: 380px;
        width: 660px;
    }

    .content--map {
        padding: 40px 30px;
    }

    .map-modal-wrap {
        padding: 0;
    }

    .map-modal {
        padding: 30px 20px;
    }

    .map-modal__title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .map-modal__content {
        font-size: 12px;
        line-height: 18px;
    }

    #bottom-form-alt .modal-line {
        width: 100%;
    }

    #bottom-form-alt .modal-line {
        margin-bottom: 10px;
    }

    .projects-filters {
        flex-wrap: wrap;
    }

    .projects-filter {
        width: 100%;
        margin-bottom: 10px;
    }

    .projects-list {
	
    }
    
    .projects-one {
        padding: 10px 15px;
        flex-wrap: wrap;    
    }
    
    .projects-one__img {
        width: 45px;
        margin-bottom: 10px;
    }
    
    .projects-one__title {
        font-size: 14px;
        line-height: 18px;
        width: 100%;
    }

    a.project-button--getmap {
        width: 100% !important;
    }

    .get-partner-reasons {
        flex-wrap: wrap;
        margin-bottom: 90px;
    }
    
    .get-partner-reason {
        width: 100%;
        margin-bottom: 30px;
    }
    
    .get-partner-reason__icon {
        width: 70px;
        margin-bottom: 10px;
    }
    
    .get-partner-how {
        padding: 0;
    }
   
    .partner-steps-icon {
        width: 100%;
        order: 0 !important;
        position: relative;
        z-index: 1;
    }

    .get-partner-steps:before {
        content: "";
        width: 8px;
        background: #52b9ed;
        position: absolute;
        top: 110px;
        left: 50%;
        z-index: 0;
        height: 1300px;
        margin-right: -4px;
    }
    
    .history-list:before {
        content: "";
        width: 8px;
        background: #52b9ed;
        position: absolute;
        top: 110px;
        left: 50%;
        z-index: 0;
        height: 2400px;
        margin-right: -4px;
    }
    
    .history-one {
        width: 100%;
        margin-bottom: 30px;
        position: relative;
        z-index: 1;
    }

    .project-about {
	
    }
    
    .project-about-line {
        margin-bottom: 15px;
    }
    
    .project-about-line__icon {
        width: 30px;
        margin-right: 10px;
    }
    
    .project-about-line__title {
        display: none;
    }
    
    .project-about-line__text {
        width: calc(100% - 40px);
        font-size: 12px;
        line-height: 18px;
    }
    
    .solution-function--2 .solution-function {
        width: 100%;
    }
    
    .requests {
	
    }
    
    .request-one {
        width: calc(50% - 15px);
        margin: 0 7.5px 30px;
    }
    
    .request-one__icon {
        width: 55px;
        margin: 0;
        margin-bottom: 15px;
    }
    
    .request-one__title {
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        margin-bottom: 15px;
    }
    
    .request-one__text {
        font-size: 14px;
        line-height: 18px;
        text-align: left;
    }

    .requests--3 {
        margin: 0;
    }

    .requests--3 .request-one {
        width: 100%;
        margin: 0 0 30px;
    }

    .error-page {
        width: 100%;
        height: 375px;
        background: url('../img/404.png') no-repeat;
        background-size: contain;
        margin: -75px auto -75px;
        padding-top: 65px;
        background-position: 0 89%;
    }
    
    .error-page-title {
        text-align: center;
        font-size: 72px;
        font-weight: 800;
        line-height: 72px;
        margin-bottom: -5px;
    }
    
    .error-page-subtitle {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 9px;
    }
}